<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sneva.easyprefs">

    <!--
    * Developer : Harsh Kumar Singh
    * Programmer : Harsh Kumar Singh
    * Founder : Harsh Kumar Singh
    * Company : Sneva Technologies
    * UI/UX : Harsh Kumar Singh
    * Date : 15-10-2022
    * -->

</manifest>